.list{
    -webkit-box-shadow: 2px 3px 3px 3px rgba(205,205,205,0.81); 
    box-shadow: 2px 3px 3px 3px rgba(205,205,205,0.81);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    .title{
        padding: 10px ;
        font-size: 20px;
        color: #888;
        margin-left: 10px;
        margin-top: 10px;
    }
    .table{

        .product{
            display: flex;
            align-items: center;
            gap: 10px;
            img{
                width: 35px;
                height: 35px;
                border-radius: 50%;
            }
            span{

            }
        }
        .status{
            background-color: pink;
            padding: 6px;
            width: max-content;
            border-radius: 8px;

            &.approved{
                color: green;
                background-color: rgba(0, 128, 0, 0.151);
            }

            &.pending{
                color: goldenrod;
                background-color: rgba(189, 189, 3, 0.103);
            }
        }
    }
}